.wrapper{
    .title{
        max-width: 1500px;
        .title-top{
            color: var(--bg-color-green-btn);
            font-size: 32px;
            font-weight: 700;
            text-align: left;
        }
        .title-under{
            color: #252434BF;
            font-size: 24px;
            font-weight: 400;
        }
    }
    .description{
        margin-top: 83px;
        .description-title{
            color: var(--text-color);
            font-size: 48px;
            font-weight: 700;
        }
        .item{
            max-width: 593px;
            margin: 0 auto;
            width: 100%;
            flex-direction: column;
            text-align: left;
            margin-top: 65px;
            .item-title{
                color: var(--text-color);
                font-size: 16px;
                font-weight: 400;
                margin-top: 16px;
            }
            .item-under{
                margin-top: 8px;
                color: var(--bg-color-green-btn);
                font-size: 24px;
                font-weight: 550;
            }
        }
    }
}