.wrapper-advantages{
    .container{
        .title{
            color: var(--text-color);
            font-weight: 700;
            font-size: 48px;
            margin-bottom: 60px;
        }
        .row{
                .card-item{
                    text-align: left;
                    border-radius: 16px;
                    padding: 25px;
                    background-color: #ffffff;
                    box-shadow: 4px 4px 16px 0px #A7BEA240;
                    .card-text{

                    }
                    .title-card{
                        margin-top: 18px;
                        font-size: 28px;
                        line-height: 27.66px;
                        font-weight: 550;
                    }
                    .des-card{
                        margin-top: 21px;
                        color: var(--text-color);
                        font-size: 16px;
                        line-height: 19.36px;
                        font-weight: 400;
                    }
            }
        }
    }
}