input[type="checkbox"],
input[type="radio"] {
  display:none;
}

input[type="radio"] + label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  margin-left: 30px;
}

input[type="checkbox"] + label{
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: -30px;
  transform: translate(0%, -50%);
  height: 20px;
  width: 20px;
  margin: 0 15px 0 0;
  border: 1px solid var(--color-light-green);
  border-radius: 50%;
}
input[type="checkbox"] + label::before{
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 15px 0 0;
  border: 1px solid var(--color-light-green);
  border-radius: 50%;
}

input[type="radio"] + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  display: inline-block;
  height: 8px;
  width: 8px;
  transform: translate(0%, -50%);
  margin: 0 5px 0 0;
  background: var(--color-green);
  border-radius: 50%;
  opacity: 0;
  transition: all .3s;
}

input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #252434;
  border-radius: 3px;
  text-align: center;
  margin-right: 0.5em;
}
input[type="checkbox"]:hover + label::after, {
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s;
}
input[type="radio"]:hover + label::after {
  background: var(--color-green-hover);
  opacity: 1;
  transition: all .3s;
}
input[type="radio"]:checked + label::after{
  background-image: var(--color-green);
  opacity: 1;
  transition: all .3s;
}
input[type="checkbox"]:checked + label::before {
  content: '\2713';
  color: green;
  transition: opacity 0.5s;
}

