input[type='file'] {
  display: none;
}
.input-file{
  margin: 5px 0;
  color: rgba(37, 36, 52, 1);
  font-size: 16px;
  font-weight: 450;
  margin-bottom: 5px;
  color: rgba(37, 36, 52, 1);
  font-size: 16px;
  font-weight: 450;
  max-width: 585px;
  width: 100%;
  padding: 10px 4px;
  border-radius: 12px;
  border: 1px solid rgba(37, 36, 52, 0.75);
}
.input-file-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #252434BF;
  margin-left: 10px;
}
.input-file-image{
 margin-right: 20px;
}
@media (max-width: 593px) {
  .input-file{
    padding: 10px 0;
  }
  .form-input-item-input {
    width: 100%;
  }
}