.wrapper-how-we-selected{
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
    margin-top: 150px;
    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }
    .mobile_img{
        display: none;
        @media screen and (max-width: 1200px) {
            display: block;
            margin: 0 auto;
        }
    }
    .dekstop_img{
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
    .wrapper-text{
        .title{
            color: var(--text-color);
            font-size: 48px;
            font-weight: 700;
            line-height: 47.76px;
            @media screen and (max-width: 1200px) {
                margin-bottom: 16px;
                margin-top: 20px;
                font-size: 28px;
                line-height: 27px;
            }
        }
        .small-title{
            color: #252434BF;
            font-size: 24px;
            font-weight: 400;
            line-height: 29.05px;
            @media screen and (max-width: 1200px) {
                font-size: 20px;
                line-height: 18.76px;
            }
        }
    }
}