.wrapper-recommendations {
    .container {
        .row {
                .item-left{
                    margin-right: 30px;
                }
                .item {
                    text-align: left;
                    background: linear-gradient(135deg, #22003B 0.78%, #24003E 33.18%, #2D0048 61.65%, #3C005A 87.18%, #450065 98.97%);
                    border-radius: 15px;
                    @media screen and (max-width: 600px) {
                        flex-direction: column;
                    }
                    .mobile_img{
                        display: none;
                        @media screen and (max-width: 600px) {
                            display: block;
                        }
                    }
                    .dekstop_img{
                        @media screen and (max-width: 600px) {
                        display: none;
                        }
                    }
                    .left-container {
                        .title {
                            .big-title {
                                color: var(--color-white);
                                font-size: 28px;
                            }
                            .small-title{
                                color: var(--color-white);
                                font-size: 20px;
                            }
                        }
                    }
                }
            
        }
    }
}