
/* auth */

@import "auth/login";
@import "auth/register";

/* components */

@import "components/header";
@import "components/checkbox-radio-input";
@import "components/text-input";
@import "components/file-input";
@import "components/headerLending";
@import "components/headerInvestment";
@import "components/headerAdmin";
@import "components/simple-form";

/* page */

@import "pages/adminList";
@import "pages/adminSectionsDescription";
@import "pages/recommendationsLending";
@import "pages/faq";
@import "pages/advantages";
@import "pages/becomeInvestor";
@import "pages/oneSection";
@import "pages/hoWeSelect";
@import "pages/partner";
@import "pages/HowCreateProject";
@import "pages/GoalsPlatform";
@import "pages/SubmitApplication";

/* loader */

@import "components/loading";

/* global colors */

@import "rules/colors";

/* bootstrap */
//
//@import  'node_modules/bootstrap/scss/bootstrap.scss';
//@import 'node_modules/bootstrap-vue/src/index.scss';
//
/* style list */

ul {
  padding: 0;
  list-style: none;
  width: 100%;
  li {
    margin: 16px 0;
    position: relative;
  }
}

/* alert style */

.alert{
  display: none;
  z-index: 999;
}
.alert.error{
  display: block;
  position: fixed;
  right: 0;
  top: 50px;
  background: #ff5e5e;
  padding-left: 20px;
  border-radius: 30px 0 0 30px;
  color: var(--color-white);
  animation: alerte 5s ease 0s 1 normal forwards;
  @keyframes alerte {
    0% {
      transform: translateX(100%);
    }

    30% {
      transform: translateX(0%);
    }

    70% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(100%);
    }
  }
}
.alert.show{
  display: block;
  position: fixed;
  right: 0;
  top: 50px;
  background: #2D7756;
  padding-left: 20px;
  border-radius: 30px 0 0 30px;
  color: var(--color-white);
  animation: alert 1s ease 0s 1 normal forwards;
  @keyframes alert {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }
}

/* input[number] style */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}