:root{
    --bg-color-light-green-btn: #E0F5D4;
    --bg-color-green-btn: #015458;
    --bg-color-green-btn-hover: #014447;
    --text-color: #252434;
    --color-green: #5E9851;
    --color-purple: #9D62F5;
    --color-green-hover: #90be85;
    --color-light-green: #CDEADC;
    --color-danger: #E63024;
    --color-white: #FFFFFF;
    --bg-color-linear-btn: linear-gradient(135deg, #CBCE55 0.69%, #217B4F 100.69%);
}
html, body * { margin: 0; padding: 0; }
body{
    height: 100vh;
    width: 100%;

}
#app{
    width: 100%;
    height: 100%;
}
.d-flex{
    display: flex;
}
.card-w{
    margin: 30px 0;
}
.text-danger{
    color: var(--color-danger);
}
.text-more{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;

}
.text-left{
    text-align: left;
}
.text-right{
    text-align: end;
}
.text-center{
    text-align: center;
}
.position-relative{
    position: relative;
}
.flex-column{
    flex-direction: column;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}
.cursor-pointer{
    cursor: pointer;
}
.b-primary{
    background: var(--bg-color-green-btn);
    color: var(--color-white);
    padding: 10px 35px;
    border: none !important;
}
.b-primary:hover{
    background: var(--bg-color-green-btn-hover);
    color: var(--color-white);
}