
.button{
  &.button-primary{
    cursor: pointer;
    color: $white;
    background: $purple;
    border-radius: 8px;
    transition: all .3s;
    &:hover{
      background: $purple-hover;
      transition: all .3s;
    }
  }
}