.wrapper{
  max-width: 1528px;
  margin: 0 auto;
  align-items: center;
  margin-top: 24px;
  .form-select{

  }
  .admin-sort{
    background-color: var(--bg-color-green-btn);
    color: var(--color-white);
    border-radius: 8px;
    align-items: center;
    .admin-sort-text{
      padding-right: 8px;
    }
  }
  .admin-sort {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('./../img/arrow-bottom.svg');
    background-repeat: no-repeat;
    background-position: right 20px center;
  }
  .admin-sort option{
    background: var(--color-white);
    color: #252434BF;
    border: 1px solid #fff;
    box-shadow: 4px 4px 16px 0px #A7BEA240;
    border-radius: 30px;
  }
  .admin-sort:focus{
    border: none;
    box-shadow: none;
  }
  .form-select{
    padding: 17px 10px;
  }
  .input-search{
    .input-search-item{
      width: 100%;
      padding: 17px 10px;
      border-radius: 12px;
      border: 1px solid var(--bg-color-green-btn);
    }
  }
  .btn-search{
    background: var(--bg-color-green-btn);
    color: var(--color-white);
    border: none !important;
    @media screen and (max-width: 1460px) {
    }
  }
  .btn-search:hover,.admin-sort:hover{
    background-color: var(--bg-color-green-btn-hover);
    color: var(--color-white);
  }
}
