.wrapper-IndexInvestment{
  margin: 24px 40px;
  .menu-Logo{
    .menu-logo-text{
      color: var(--color-purple);
      font-size: 13px;
    }
  }
  .menu-item-main{
    gap: 24px;
    color: var(--black)
  }
  .menu-btn-avatar{
    .menu-btm{

    }
  }
}